html {
    background-image: url('/img/bgg.jpg');
    background-repeat: repeat;
    margin: 2.5vh;
    font-family: 'Playfair Display', serif;
}


header {
    background: white;
    border-radius: 5px;
    height: 100%;
    width: 70vw;
    margin: auto;
    box-shadow: 8px 5px lightgray;
}

.x-line{
    margin: 1%;
}

.main>p {
    margin: 4%;
}

.main>h1 {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 300%;
}

.main>p {
    margin-left: 20%;
}

#logo {
    width: 15%;
    height: auto;
    position: absolute;
    top: 5%;
}

.nav,
ul,
li,
a {
    text-decoration: none;
    list-style: none;
    display: inline-flex;
    text-indent: 15px;
    font-size: 100%;
    position: relative;
    bottom: 45%;
    color: black;
}

a:active {
    color: blue;
}

.text1 {
    margin-left: 1%;
    display: inline-flex;
}

.quotebox {
    border: 1px solid black;
    position: relative;
    margin-bottom: 10%;
    box-shadow: 5px 10px gray;
    margin-right: 1%;
    height: 10%;
    width: 110%;
}

.quoteheading {
    border: 1px solid black;
    background-color: darkslategray;
    display: block;
    height: 10%;
    color: aliceblue;
    font-weight: 400;
    box-sizing: content-box;
}

.links {
    border: 2px solid black;
    margin: 2%;
    background-color: darkslategray;
    box-shadow: 5px 5px gray;
    color: aliceblue;
    font-style: italic;
}

ol,
li,
a {
    display: block;
    list-style: decimal;
    font-weight: 600;
}

/* links 1 css section */
.content>h3 {
    margin: 1%;
    margin-top: 5%;
}

.content>p {
    margin-left: 10%;
    margin-right: 5%;
    text-align: justify;
    /* padding: %; */
    margin-bottom: 5%;
    font-size: large;
}
/* link 2 css*/
.table1{
border: 2px solid black;
}