html {
    background-image: url('/img/bgg.jpg');
    background-repeat: repeat;
    margin: 2.5vh;
    font-family: 'Playfair Display', serif;
}


header {
    /* background: white; */
    border-radius: 5px;
    height: 100vh;
    width: 70vw;
    margin: auto;
    /* box-shadow: 8px 5px lightgray; */
}

.main-links>p {
    box-shadow: 5px 8px gray;
    margin-left: 20%;
    background-color: aliceblue;
    margin: 4%;
    height: 50%;
}

.main>h1 {
    background-color: aliceblue;
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    font-size: 300%;
    box-shadow: 5px 8px gray;
}

.main>p {
    box-shadow: 5px 8px gray;
    margin-left: 20%;
    background-color: aliceblue;
    margin: 4%;
}

#logo {
    width: 10%;
    height: auto;
    position: absolute;
    top: 5%;
}

.nav {

    background-color: aliceblue;
    box-shadow: 5px 8px gray;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    display: flex;
    text-indent: 15px;
    /* vertical-align: middle; */
    font-size: 100%;
    /* position: relative; */
    bottom: 45%;
    color: black;
}

a:active {
    color: blue;
}

.text1 {
    box-shadow: 5px 8px gray;
    background-color: aliceblue;
    margin-left: 1%;
    display: inline-flex;
}

.quotebox {
    border: 1px solid black;
    position: relative;
    margin-bottom: 10%;
    box-shadow: 5px 10px gray;
    margin-right: 3%;
    height: 10%;
    width: 120%;
    background-color: aliceblue;
}

.quoteheading {
    border: 1px solid black;
    background-color: darkslategray;
    display: block;
    height: 10%;
    color: aliceblue;
    font-weight: 400;
    box-sizing: content-box;
}

.links {
    border: 2px solid black;
    margin: 2%;
    background-color: darkslategray;
    box-shadow: 5px 5px gray;
    color: aliceblue;
    font-style: italic;
}

ol,
li,
a {
    display: block;
    list-style: decimal;
    font-weight: 600;
}

/* links 1 css section */
.content>h3 {
    margin: 1%;
    margin-top: 5%;
    background-color: aliceblue;
    box-shadow: 5px 8px gray;
}

.content>p {
    background-color: aliceblue;
    box-shadow: 5px 8px gray;
    margin-left: 10%;
    margin-right: 5%;
    text-align: justify;
    margin-bottom: 5%;
    font-size: large;
}

ol,
li {
    background-color: aliceblue;
    box-shadow: 5px 8px gray;
}

/* link 2 css*/